@import url('https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght,ROND@724,15&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jersey+10&display=swap');
@import "tailwindcss";

@theme{
    --font-jersey : "Jersey 10", sans-serif;
}